form.search {
  overflow: auto;
  margin-bottom: 10px;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
}
.form.signup,
.form.login {
  margin-top: 50px;
}

#member-container { 
  margin: auto;
  width: 50%;
  padding: 10px;
  

} 
.navbar-brand{
  color: red !important;
  }
.header {
  background-color: #82c09a;
  border-width: thin;
  padding: 20px;
}
.wrapper{
  margin: 0;
  height: 100%;
}
body {
  background-color: #C2E4CF;
  margin: 0;
 min-height: 100vh;
}

.dash {
  background-color:#72B88D;
}

.border-left-info {
  border-left: #F4985A;
  border-left-style: solid;
  padding: 25px;
}
#brandName {
  text-decoration-color: #63B081;
}
.text-info {
  text-decoration-color: #63B081;
}

.left-padding {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.dash-row {
  padding: 20px;
}

.graph-row {
  padding: 5px;
}

.pad-right {
  padding-right: 30px;
}

.pad-left {
  padding-left: 30px;
}

.mini-dash-row {
  padding-bottom: 5px;
}

.text-secondary {
  text-decoration-color: #63B081;
}